rasterisation/Debug/*
rasterisation/Release/*
MathLibrary/Debug/*
MathLibrary/Release/*
Export/Debug/*
Export/Release/*
ObjLoader/Debug/*
ObjLoader/Release/*
*.exr
*/x64/*
x64/*
.vs*
Debug/*
Release/*
